@media screen and (min-width: 1000px) {
    #restaurants-list li {
        width: 30%;
    }

    #restaurant-container {
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        -ms-grid-rows: 80px 60px auto 70px;
        grid-template-rows: 80px 60px auto 70px;
    }

    #restaurant-address,
    #restaurant-hours td,
    #reviews-container h2 {
        padding-left: 40px;
    }

    #reviews-list li {
        width: 70%;
    }
}
