@media screen and (min-width: 701px) {

    #restaurants-list {
        padding: 0;
        margin-top: 20px;
    }
    #restaurants-list li {
        width: 45%;
        padding: 0;
    }

    #reviews-list li {
        width: 80%;
    }

    #restaurant-container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 80px 60px auto 70px;
    }

    #restaurant-name {
        grid-column: 1/3;
        grid-row: 1;
    }
    #restaurant-img {
        grid-column: 2/3;
        grid-row: 3;
    }

    #restaurant-address {
        grid-column: 1/3;
        grid-row: 2;
    }

    #restaurant-cuisine {
        grid-column: 1/3;
        grid-row: 4;
    }
}
