@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

body {
    margin: 0;
    position: relative;
    background-color: #fdfdfd;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: -ms-grid;
    display: grid;
}

#maincontent {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 400px auto;
    grid-template-rows: 400px auto;
    background-color: #f3f3f3;
}

#footer {
    padding: 25px 0;
    background-color: #444;
    color: #aaa;
    font-size: 0.8em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

#offline-alert {
    display: none;
}

/* ====================== Navigation ====================== */

nav {
    width: 100%;
    height: 80px;
    padding: 0;
    background-color: #252831;
    text-align: center;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #fff;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#breadcrumb {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    background-color: #eee;
    font-size: 1.1em;
    text-align: center;
}

/* Display list items side by side */

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
    width: 100%;
    height: auto;
    background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 30% 20px 30% auto;
    grid-template-columns: auto 30% 20px 30% auto;
    -ms-grid-rows: 30px auto;
    grid-template-rows: 30px auto;
    justify-items: center;
    width: 100%;
    height: 85px;
    background-color: #3397DB;
}

.filter-options h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 10px;
    color: #fff;
    font-size: 1.2em;
    line-height: 1;
}

.filter-options select {
    width: 100%;
    height: 35px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    letter-spacing: 0;
}

.filter-options select:first-of-type {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    grid-row: 2;
}

.filter-options select:last-of-type {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    grid-row: 2;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0;
    background-color: #f3f3f3;
    list-style: outside none none;
    text-align: center;
}

#restaurants-list li {
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    text-align: left;
}

#restaurants-list .restaurant-img {
    width: 100%;
    margin: 0;
    background-color: #ccc;
}

#restaurants-list li h1 {
    margin: 20px 0 10px;
    padding-left: 20px;
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    padding-left: 20px;
    font-size: 11pt;
}

#restaurants-list li a {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 10px 0;
    background-color: orange;
    border-bottom: 3px solid #eee;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header,
.inside #footer {
    width: 100%;
}

.inside #map-container {
    width: 100%;
    background: blue none repeat scroll 0 0;
}

.inside #map {
    width: 100%;
    height: auto;
    background-color: #ccc;
}

#restaurant-name {
    margin: 25px 0;
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
}

#restaurant-img {
    max-width: 100%;
}

#restaurant-address {
    margin: 10px 0;
    padding-left: 20px;
    font-weight: 700;
    font-size: 1.2em;
}

#restaurant-cuisine {
    width: 100%;
    margin: 0 0 30px;
    padding: 5px 0;
    background-color: #333;
    color: #ddd;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
}

#reviews-container h2 {
    margin: 10px 0;
    padding-left: 20px;
    color: #f58500;
    font-size: 1.8em;
    font-weight: 300;
}


#reviews-list {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#reviews-list li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 30px auto;
    grid-template-rows: auto 30px auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #f3f3f3;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    list-style-type: none;
    overflow: hidden;
}

#reviews-list li p {
    margin: 0;
    padding: 10px 20px;
}

#reviews-list li p:first-of-type {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    font-weight: 700;
    background-color: #666;
    color: #fff;
}

#reviews-list li p:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 100%;
    text-align: right;
    background-color: #666;
    color: #fff;
}


#reviews-list li p:nth-child(3) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    font-weight: 700;
    color: #f18200;
}

#reviews-list li p:last-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3;
}


#restaurant-hours td {
    padding-left: 20px;
    color: #666;
}
